html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#header, #footer {
  position: fixed;
  width: 100%;
  color: #000000;
  z-index: 5;
  background: -webkit-linear-gradient(left, #000000, #000000, #CCCCCC, #CCCCCC);
  background: linear-gradient(left, #000000, #000000, #BBBBBB, #BBBBBB)
}

#header {
  top: 0;
  height: 75px;
  line-height: 75px;
}

#logo {
  width: 450px;
  font-size: 30px;
  margin-left: 20px;
  background-color: #333333;
  opacity: 0.8;
  transition: all 0.5s;
}

#logo:hover {
  opacity: 1.0;
}

.header-item {
  display: inline-block;
  text-align: center;
  color: #000000;
  background-color: #BBBBBB;
  text-decoration: none;
  border-top: 2px solid #CCCCCC;
  box-sizing: border-box;
  height: 75px;
  text-shadow: 1px 1px #555555;
  transition: all 0.5s;
}

.header-item:hover {
  background-color: #AAAAAA;
  color: #BB0000;
  border-color: #777777;
  text-shadow: 1px 1px #770000;
}

#navbar {
  float: right;
  margin-right: 75px;
  font-size: 0;
  height: 100%;
}

.nav-item {
  padding: 0px 20px;
  font-size: 20px;
  margin-left: -2px;
}

#middle {
  padding-top: 75px;
  padding-bottom: 50px;
}

#content {
  width: 100%;
  overflow-y: auto;
}

#footer {
  background-color: #DDDDDD;
  color: #FFFFFF;
  bottom: 0;
  height: 50px;
  line-height: 50px;
}

#copyright {
  margin-left: 20px;
}
