.content-item {
  box-sizing: border-box;
  display: inline-block;
  background-color: #EEEEEE;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 25px;
  border: 7px #FF8888;
  border-style: ridge groove groove ridge;
}

#content-gallery {
  display: block;
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
  background: -webkit-linear-gradient(left, #999999, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF,  #999999);
  background: linear-gradient(left, #999999, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF,  #999999);
  border-radius: 20px;
  height: 560px;
  border: 10px #FF8888;
  border-style: ridge groove groove ridge;
}

#gallery-container {
  height: 560px;
}

#gallery-image {
  height: 560px;
  margin: -581px 0 0 0;
  vertical-align: top;
}

#gallery-container input {
  width: 80px;
  height: 560px;
  vertical-align: top;
  padding: 0;
  border: 0;
  color: #FFFFFF;
  font-family: 'Economica', sans-serif;
  font-size: 150px;
  font-weight: bold;
  z-index: 1;
  outline: none;
  background: transparent;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

#gallery-container input:hover {
  cursor: pointer;
  color: #FF3333;
}

#gallery-prev {
  margin: 0 100% 0 0;
  text-shadow: 3px 3px #777777;
  background-color: (0, 0, 0, 0);
}

#gallery-next {
  margin: -560px 0 0 calc(100% - 80px);
  text-shadow: -3px 3px #777777;
  background-color: (0, 0, 0, 0);
}

#gallery-prev:hover {
  text-shadow: 3px 3px #AB5B5B;
}

#gallery-next:hover {
  text-shadow: -3px 3px #AB5B5B;
}

.column {
  height: auto;
}

.column-left {
  float: left;
  margin-left: 50px;
  margin-right: 25px;
  width: 60%;
}

.column-right {
  float: right;
  margin-left: 25px;
  margin-right: 50px;
  width: 30%;
}

#content-about {
  font-size: 20px;
  line-height: 40px;
}

