#navbar {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: 150px;
	margin-top: 5px;
}

#header {
	position: relative;
	top: -10px;
	right: 20px;
	width: 102%;
	background-image: url("header.png");
}

#header h1 {
	margin-left: 50px;
}

#navbar ul{
	list-style-type: none;
	position: fixed;
	margin: -15px;
}

#navbar li {
	display: inline;
	font-family: "Droid Sans";
	padding: 20px;
	color: white;
	font-size: 24px;
}

#navbar a {
    text-decoration: none;
	color: white;
}

#logo {
	position: relative;
	padding-top: 25px;
	padding-left: 40px;
	margin-top: -16px;
	margin-bottom: 33px;
}

#logo h1 {
	font-family: "Droid Sans Bold";
	font-size: 36px;
}

#image {
	position: fixed;
	clear: both;
	margin-top: -42px;
	margin-left: -8px;
	height: 100%;
	width: 100%;
	background-image: url("background_image.png");
}

#image h1 {
	color: white;
	font-family: "Droid Sans Bold";
	font-size: 54px;
	width: 25%;
	margin-top: -20px;
	margin-left: 175px;
}

#image h2 {
	color: white;
	font-family: "Droid Sans Bold";
	font-size: 24px;
	width: 25%;
	margin-top: 325px;
	margin-left: 125px;
}

#caption {
	background-color: black;
	height: 75px;
	width: 1500px;
	position: fixed;
	clear: both;
	margin-top: 180px;
}

#caption h1 {
	font-family: "Droid Sans Bold";
	font-size: 24px;
	text-align: center;
	margin-left: 545px;
	margin-top: 15px;
}

#footer {
	position: fixed;
	clear: both;
	width: 1441px;
	height: 500px;
	background-image: url("content.png");
	background-size: cover;
	margin-top: 650px;
	margin-left: -8px;
}

@font-face {
    font-family: "Droid Sans";
    src: url(DroidSans.ttf);
}

@font-face {
    font-family: "Droid Sans Bold";
    src: url(DroidSans-Bold.ttf);
	font-weight: bold;
}