#navbar {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -45px;
	margin-top: 5px;
}

#header {
	position: relative;
	top: -10px;
	right: 20px;
	width: 102%;
	background-image: url("header.png");
}

#header h1 {
	margin-left: 50px;
}

#navbar ul{
	list-style-type: none;
	position: fixed;
	margin: -15px;
}

#navbar li {
	display: inline;
	font-family: "Droid Sans";
	padding: 10px;
	color: white;
	font-size: 24px;
}

#navbar a {
    text-decoration: none;
	color: white;
}

#logo {
	position: relative;
	font-family: "Droid Sans Bold";
	font-size: 36px;
	padding-top: 30px;
	padding-left: 40px;
}

#image {
	position: fixed;
	clear: both;
	margin-top: -10px;
	margin-left: -8px;
	height: 70%;
	width: 100%;
	background-image: url("background_image.png");
}

@font-face {
    font-family: "Droid Sans";
    src: url(DroidSans.ttf);
}

@font-face {
    font-family: "Droid Sans Bold";
    src: url(DroidSans-Bold.ttf);
	font-weight: bold;
}