<header class="site-header">

  <div class="wrapper">

    <div class="masthead clearfix">
			<div class="inner">
      	<h3 class="masthead-brand">myCorona</h3>
        <nav>
        	<ul class="nav masthead-nav">
          	<li><a href="http://sarahchen.github.io/myCorona/index.html">Home</a></li>
		  			<li><a href="http://sarahchen.github.io/myCorona/about/index.html">About</a></li>
            <li><a href="http://sarahchen.github.io/myCorona/signup/index.html">Sign Up</a></li>
            <li><a href="http://sarahchen.github.io/myCorona/login/index.html">Log In</a></li>
           </ul>
         </nav>
        </div>
     </div>

  </div>

</header>
