<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>myCorona</title>

    <!-- CSS -->
    <link href="http://sarahchen.github.io/myCorona/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://sarahchen.github.io/myCorona/css/signin.css" rel="stylesheet">
    <link href="http://sarahchen.github.io/myCorona/css/cover.css" rel="stylesheet">
</head>
