<header class="site-header">

  <div class="wrapper">

		<nav class="navbar navbar-default">
  		<div class="container-fluid">

    		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      		</button>
     			<a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"> Stuy Fusion 479</a>
    		</div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="http://310Fission.com">Stuy Fission</a></li>
				<li><a href="http://stuypulse.com">StuyPulse</a></li>
      		</ul>
    		</div>

  		</div>
		</nav>

  </div>

</header>
